html, body, pre {
    margin: 0;
    padding: 0;
    height: 100%;
}

code {
    height: 96%;
    box-sizing: border-box;
}

#div2 {
    background: red;
}

code {
    font-family: consolas, monospace;
    font-size: 12pt;
}